<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Universidad del Papalopan</a>
  <img
    src="https://www.unpa.edu.mx/images/unpa2.jpg"
    alt="Logo"
    style="height: 50px; margin-right: 10px"
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">¿Qué es el servicio social? </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">El Servicio Social tiene por objeto </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Acerca de</a>
      </li>
      <li>
        <a
          class="btn btn-outline-success my-2 my-sm-0"
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
    </ul>
  </div>
</nav>
