<div class="jumbotron">
  <div class="container">
    <h1 class="display-3 fancy-heading">
      <strong>¡Bienvenido a la Universidad del Papalopan!</strong>
    </h1>
    <img
      src="https://www.unpa.edu.mx/images/unpa2.jpg"
      alt="Logo"
      style="height: 200px; float: right; margin-top: -80px; margin-right: -10px;"
    />
    <p>Una institución líder en educación superior.</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button"
        >Más información &raquo;</a
      >
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>¿Qué es el servicio social?</h2>
      <p>
        Se entiende por Servicio Social a la realización obligatoria de
        actividades orientadas a la aplicación de los conocimientos que hayan
        obtenido y que impliquen el ejercicio de la práctica profesional en
        beneficio de la sociedad, por parte de los alumnos que tengan
        acreditados por lo menos el 70% de los créditos académicos. Para el caso
        del área de la salud, el Servicio Social se regirá de acuerdo a la Norma
        Oficial Mexicana para la utilización de campos clínicos para las
        prácticas clínicas y servicio social NOM-168-SSA, emitida por la
        Secretaria de Salud.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >Ver detalles &raquo;</a
        >
      </p>
    </div>
    <div class="col-md-4">
      <h2>El Servicio Social tiene por objeto:</h2>
      <p>
        a. Extender los beneficios de la ciencia, la tecnología y la cultura a
        la sociedad. b. Consolidar la formación académica y capacitación
        profesional del prestador del Servicio Social. c. Fomentar en el
        prestador del Servicio Social una conciencia de solidaridad con la
        comunidad a la que pertenece.
      </p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >Más información &raquo;</a
        >
      </p>
    </div>
    <div class="col-md-4">
      <h2>Contacto</h2>
      <p>¿Tienes preguntas? ¡Contáctanos!</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button"
          >Contactar &raquo;</a
        >
      </p>
    </div>
  </div>

  <hr />
</div>

<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
  style="max-width: 500px; margin: auto;"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://www.unpa.edu.mx/images/computacion3.jpg"
        class="d-block w-100"
        alt="Slide 4"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.unpa.edu.mx/laboratorios/images/lab_quimico_biologico/lab_quimico_biologico1.JPG"
        class="d-block w-100"
        alt="Lab Quimico Biologico"
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://www.unpa.edu.mx/images/ensenanza/entrada-portico.JPG"
        class="d-block w-100"
        alt="Entrada Portico"
      />
    </div>

    <div class="carousel-item">
      <img
        src="https://www.unpa.edu.mx/rv/loma_bonita/2022/6.JPG"
        class="d-block w-100"
        alt="Loma Bonita 2022"
      />
    </div>
  </div>

  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>

  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>

<!-- Bootstrap JS y dependencias de jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
