<!--<div class="container mt-5">
  <div class="tabla-container position-relative">
    <h2>Progreso de Alumnos en Servicio Social - Ingeniería en Computación</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Matrícula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Carrera</th>
          <th scope="col">Empresa</th>
          <th scope="col">Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.no }}</td>
          <td>{{ alumno.matricula }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.carrera }}</td>
          <td>{{ alumno.empresa }}</td>
          <td>{{ alumno.progreso }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-salir">Salir</button>
  </div>
</div>

-->
