button {
  background-color: #a8dadc;
  border-color: #a8dadc;
  margin: 5px;
}
.footer {
  color: black;
  font-size: 20px;
}

.btn-outline-success {
  background-color: darkgreen;
  width: 100px;
  right: 60px;
  position: absolute;
}

#contenedor {
  background-color: beige;
}
body {
  font-family: Georgia, serif;
  background-color: #80ff80;
}
/* Estilos para las tablas */
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #80ff80; /* Color de fondo del encabezado */
  color: #000000;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

input[type='number'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
